.square {
    width: 600px;
    height: 600px;
    background: yellow;
    position: relative;
}

.square::before {
    position: absolute;
    content: ' ';
    width: 60px;
    height: 60px;
    background: red;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#small-square {
    width: 60px;
    height: 60px;
    background: green;
    position: absolute;
    left: 0;
    top: 0;
}