.square {
    width: 600px;
    height: 600px;
    background: yellow;
    position: relative;
}

#small-square {
    width: 60px;
    height: 60px;
    background: green;
    position: absolute;
    left: 0;
    top: 0;
}