.navbar {
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            nav {
                ul {
                    display: flex;

                    li {
                        margin: 0 20px 0 0;

                        a {
                            font-size: 22px;
                            color: #555555;
                            font-weight: 700;

                            &:hover {
                                color: #a39176;

                            }
                        }

                        &:hover {
                            .drop-down-menu {
                                display: flex;
                            }

                            a {
                                color: #a39176;
                            }

                        }
                    }
                }

                .drop-down-menu {
                    display: none;
                    position: absolute;
                    background-color: #ffffff;
                    width: 100%;
                    left: 0;
                    padding: 15px;

                    li {
                        width: 25%;

                        &:last-child {
                            margin: 0;
                        }

                        img {
                            width: 100%;
                        }
                    }


                }
            }

            .social-media {
                ul {
                    display: flex;

                    li {
                        margin: 0 0 0 15px;

                        a {
                            color: #444444;
                            font-size: 18px;
                            transition: .3s all;

                            &.fb {
                                &:hover {
                                    color: rgb(41, 41, 214);
                                }
                            }

                            &.insta {
                                &:hover {
                                    color: rgb(223, 126, 142)
                                }
                            }

                            &.yt {
                                &:hover {
                                    color: rgb(226, 14, 14)
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}