body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

#foods {
    background: #f8f9fa;
    padding: 100px 0;
}

#foods .container {
    display: flex;
    flex-wrap: wrap;
}

#foods .container .item {
    width: 25%;
    padding: 0 15px;
}

#foods .container .item .icon {
    text-align: center;
    font-size: 60px;
    margin: 0 0 20px 0;

}

#foods .container .item h3 {
    text-align: center;
    font-size: 24px;
    color: #cf1d16;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}

#foods .container .item p {
    color: #b19b96;
    text-align: center;
    line-height: 1.5;
}

@media(max-width: 900px) {

    #foods .container .item {
        width: 50%;
        margin: 0 0 30px 0;

    }
}

@media(max-width: 550px) {

    #foods .container .item {
        width: 100%;

    }
}

#main {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#main h1 {
    font-size: 40px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    margin: 0 0 30px 0;
}

#main h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    margin: 0 0 30px 0;
}

#main a {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    color: white;
    padding: 20px 30px;
    transition: 400ms all;
}

#main a:hover {
    background: #fff;
    color: black;
}