body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

#foods {
    background: #f8f9fa;
    padding: 100px 0;
}

#foods .container {
    display: flex;
    flex-wrap: wrap;
}

#foods .container .item {
    width: 25%;
    padding: 0 15px;
}

#foods .container .item .icon {
    text-align: center;
    font-size: 60px;
    margin: 0 0 20px 0;

}

#foods .container .item h3 {
    text-align: center;
    font-size: 24px;
    color: #cf1d16;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}

#foods .container .item p {
    color: #b19b96;
    text-align: center;
    line-height: 1.5;
}

@media(max-width: 900px) {

    #foods .container .item {
        width: 50%;
        margin: 0 0 30px 0;

    }
}

@media(max-width: 550px) {

    #foods .container .item {
        width: 100%;

    }
}

#main {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#main h1 {
    font-size: 40px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    margin: 0 0 30px 0;
}

#main h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    margin: 0 0 30px 0;
}

#main a {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    color: white;
    padding: 20px 30px;
    transition: 400ms all;
}

#main a:hover {
    background: #fff;
    color: black;
}

.header .line {
    height: 2px;
    width: 100px;
    background: #cf1d16;
    margin: 10px auto;
}

.header {
    position: relative;
}

.header h2 {
    position: relative;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    z-index: 1;

}

.header span {
    position: absolute;
    z-index: 0;
    text-align: center;
    font-size: 200px;
    width: 100%;
    top: 70%;
    color: grey;
    font-weight: bold;
    line-height: 150px;
    user-select: none;
    -moz-user-select: none;
    white-space: nowrap;
}

.foods {
    display: flex;
    position: relative;
    z-index: 2;
    margin: 150px 0 0 0;
}

.foods .item {
    width: calc(100%/3);
    padding: 0 10px;
}

.foods .item a img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.4s all;

}

.foods .item a {
    display: block;
    position: relative;
    overflow: hidden;
}

.foods .item a:hover img {
    transform: scale(1.1)
}

.foods .item .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.301);
}

.foods .item .data {
    position: absolute;
    text-align: center;
    z-index: 3;
    width: 100%;
    padding: 15px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

.foods .item .data .circle {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    border-radius: 100%;
    background-color: #cf1d16;
    text-align: center;
    font-weight: 700;
    line-height: 100px;
    transition: 0.4s all;

}

.foods .item a:hover .circle {
    background-color: transparent !important;
    border: 2px solid white;
}

.foods .item .data p {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-weight: 300;
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
}

nav .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .menu li {
    display: inline-block;
    margin: 0 20px 0 0;
}

nav .menu li:last-child {
    margin: 0;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

nav .contact a {
    color: white;
    text-decoration: none;
    background-color: #cf1d16;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 15px 20px;
    display: inline-block;
}

nav {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 69;
}

@media (max-width: 900px) {
    .foods .item .data .circle {
        width: 50px;
        height: 50px;
        margin: 0 auto 10px auto;
        line-height: 50px;
        font-size: 12px;


    }

    .header span {
        display: none;
    }

    .foods .item .data p {
        font-size: 15px;

    }

    .foods {
        margin: 30px;
    }
}

@media (max-width: 600px) {
    .foods {
        flex-wrap: wrap;

    }

    .foods .item {
        width: 100%;
        padding: 0 10px;
        margin: 0 0 10px 0;
    }
}

form .row {
    margin: 0 0 20px 0;
}

form .row .column {
    display: flex;
    justify-content: space-between;
}

form .row .column .left,
form .row .column .right {
    width: 48%;
}

form .row label,
form .row p.title {
    display: block;
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 700;
}

form .row input[type="text"],
form .row input[type="url"],
form .row input[type="email"],
form .row textarea,
form .row select {
    width: 100%;
    border: 1px solid #808080;
    padding: 10px 15px;
}

form .row .checkbox label,
form .row .radio label {
    font-weight: 400;
}

form .row input[type="text"]:focus:invalid,
form .row input[type="url"]:focus:invalid,
form .row input[type="email"]:focus:invalid,
form .row textarea:focus:invalid,
form .row select:focus:invalid {
    border-color: red;
}

form .row input[type="text"]:required:invalid,
form .row input[type="url"]:required:invalid,
form .row input[type="email"]:required:invalid,
form .row textarea:required:invalid,
form .row select:required:invalid {
    border-color: red;
}


form .row input[type="text"]:required:valid,
form .row input[type="url"]:required:valid,
form .row input[type="email"]:required:valid,
form .row textarea:required:valid,
form .row select:required:valid {
    border-color: green;
}

#arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    background: #cf1d16;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
}

#arrow-up.show {
    display: flex;
}